body {
  background-color: #0b0c10;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}
.kozep{
  text-align: center;
}
.table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/*#region fogadasok.php*/
.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
 
}
.lent{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.kozep{
  text-align: center;
}
.table {
  width: 50%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-radius: 10px;
  background: linear-gradient(360deg ,#16222a, #24c6dc);
color: white;
}
.cim2 {
  display: inline-block;
  width: 50%;
  margin-left: 20vw;
  
}
.container2 {
  display: flex;
  justify-content: space-between;
}
.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #24c6dc;
}

.table th {
  background: linear-gradient( #16222a, #16222a);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .table {
    width: 100%;
  }
}

/*#endregion fogadasok.php*/

/*#region penztarca.php*/
.button{

 margin-top: 8vw;
 margin-right: 2vw;
 margin-left: 2vw;
 padding: 1vw;
 border-radius: 10px;
}

.kozos1{
  display: inline-flex;
  margin: 2% 2% 3% 3.5%;
  width: 96vw;
  min-height: 55vh;
}

.penzfeltoltes {
  background-color: #24c6dc;
  width: 100%;
  max-height: 40vh;
  border-radius: 13px;
  margin-right: 2%;
  text-align: center;
  font-size: 20px;
  color: black;
}
#inputppenz{
  border-radius: 10px;
  border: 2px solid black
}
#inputppenzbutton{
  background-color: white;
}
/*#endregion penztarca.php*/

/*#region grid*/
/* grid */
.grid-container-adat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "col1 col2";
  text-align: center;
}
.col1-adat {
  grid-area: col1;
  flex-direction: column;
}

.col2-adat {
  grid-area: col2;
  flex-direction: column;
}
.grid-container-penzfeltoltes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1-penzfeltoltes col2-penzfeltoltes col3-penzfeltoltes";
  text-align: center;
 
}

.col1-penzfeltoltes {
  grid-area: col1-penzfeltoltes;
  flex-direction: column;
}

.col2-penzfeltoltes {
  grid-area: col2-penzfeltoltes;
  flex-direction: column;
}

.col3-penzfeltoltes {
  grid-area: col3-penzfeltoltes;
  flex-direction: column;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1 col2 col3";
  text-align: center;
  max-height: 80vh;
  overflow-y: scroll;

}

.col1 {
  grid-area: col1;
  flex-direction: column;
}

.col2 {
  grid-area: col2;
  flex-direction: column;
}

.col3 {
  grid-area: col3;
  flex-direction: column;
}

.grid-container-szorzok {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1-szorzok col2-szorzok col3-szorzok";
  overflow-y: scroll;
  max-height: 70vh;
 
}
.grid-container-szorzok::-webkit-scrollbar {
  width: 10px;

}

.grid-container-szorzok::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, -1);
  border-radius: 10px;
}

.grid-container::-webkit-scrollbar {
  width: 10px;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, -1);
  border-radius: 10px;

}

.col1-szorzok {
  grid-area: col1-szorzok;
  flex-direction: column;
  margin-top: 35.5%;
}
.col2-szorzok {
  grid-area: col2-szorzok;
  flex-direction: column;
}

.col3-szorzok {
  grid-area: col3-szorzok;
  flex-direction: column;
  margin-top: 35.5%;
}

/*#endregion grid*/

/*#region Header*/
.navbutton{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: white;
  background-color: #24c6dc;
  border-radius: 5px;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #16222a;
  font-family: 'Kanit', sans-serif;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  font-size: 18px;
}

header .login {
  display: flex;
  align-items: center;
}

header .login a {
  margin-right: 10px;
}

header .login button {
  font-weight: bold;
}

/*#endregion Header*/

/*#region foldal.php */


.kozos {
  display: inline-flex;
  margin: 2% 2% 3% 2%;
  width: 95vw;
  min-height: 80vh;
}

.meccsek {
  width: 100%;
  border-radius: 13px;
  margin-right: 2%;
  height: 80vh;
  color: whitesmoke;
  background: linear-gradient(360deg, #16222a, #24c6dc);


}

.meccsek2 {
  width: 52%;
  height: 80vh;
  border-radius: 13px;
  text-align: center;
  color: whitesmoke;
  background: linear-gradient(360deg, #16222a, #24c6dc);

}

.cim {
  text-align: center;
}

.hazaitable {
  width: 33%;
  text-align: center;
}

.eredmenyektable {
  width: 33%;
  text-align: center;
}

.vendegtable {
  width: 33%;
  text-align: center;
}

/*#endregion foldal.php*/

/*#region Footer*/
footer {
  background-color: #16222a;
  color: #ccc;
  padding: 20px;
  text-align: center;
 

}

/*#endregion Footer*/

/*#region fogad*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #16222a;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #24c6dc;
  width: 30%;
  color: #24c6dc;
  text-align: center;
  border-radius: 10px;
}

#closebtn {
  background-color: #16222a;
  color: #24c6dc;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border:1px solid #24c6dc;
  border-radius: 10px;
}
#kuld{
  background-color: #16222a;
  color: #24c6dc;
  border:1px solid #24c6dc;
  cursor: pointer;
  border-radius: 10px;
}

#closebtn:hover,
#closebtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Bet box styles */
.bet-box {
  background-color:#24c7dc96 ;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 10px 15px #0b1858;
  
  
}

.bet-box:hover {
  background-color: #24c7dc00;
}

/*#endregion fogad*/

/*#region registerandlogin*/

.register-bodycard {
 display: flex;
 justify-content: center;
 height: 80vh;
 align-items: center;

width: 50%;
margin: 2% auto 2% auto;

}
.register_in{
  margin: 2% auto 2% auto;
}
p,a{
  text-align: center;
}

a{
  text-decoration: none;
  color: #24c6dc;
}


#input{
  width: 100%;
 border: 1px solid #dadbde;
  padding: 15px;
  border-radius: 10px;
  margin: 0 0 2% 0;
  background-color: #332d2d;
  color: white;
}
#input_button{
  background-color: #24c6dc;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  text-align: center; 
  width: 110%;
  margin: 0 auto 0 auto;

}
.login-bodycard{
  display: flex;
  justify-content: space-around;
  height: 79.5vh;
  align-items: center;
  width: 50%;
  margin: 0 auto 15px auto;
}
.eltolas{
  height: 12vh;
}
.login-in{
  margin: 2% auto 2% auto;
  
}
#login-input{
  width: 100%;
  border: 1px solid #dadbde;
   padding: 15px;
   border-radius: 10px;
   margin: 0 0 2% 0;
   background-color: #332d2d;
   color: white;
}
#input_button2{
  background-color: #24c6dc;
  color: white;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  text-align: center; 
  width: 110%;
  margin: 0 auto 0 auto;
}
/*#endregion register*/