body {
  background-color: #0b0c10;
  color: #fff;
  font-family: 'Kanit', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

/*#region penztarca.php*/
.button{

 margin-top: 8vw;
 margin-right: 2vw;
 margin-left: 2vw;
 padding: 1vw;
}

.kozos1{
  display: inline-flex;
  margin: 2% 2% 3% 2%;
  width: 95vw;
  min-height: 58vh;
}

.penzfeltoltes {
  background-color: lightseagreen;
  width: 100%;
  max-height: 40vh;
  border-radius: 13px;
  margin-right: 2%;
  text-align: center;
}


/*#endregion penztarca.php*/

/*#region grid*/
/* grid */
.grid-container-adat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "col1 col2";
  text-align: center;
}
.col1-adat {
  grid-area: col1;
  flex-direction: column;
}

.col2-adat {
  grid-area: col2;
  flex-direction: column;
}
.grid-container-penzfeltoltes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1-penzfeltoltes col2-penzfeltoltes col3-penzfeltoltes";
  text-align: center;
 
}

.col1-penzfeltoltes {
  grid-area: col1-penzfeltoltes;
  flex-direction: column;
}

.col2-penzfeltoltes {
  grid-area: col2-penzfeltoltes;
  flex-direction: column;
}

.col3-penzfeltoltes {
  grid-area: col3-penzfeltoltes;
  flex-direction: column;
}

/*.grid-container-penzkifizetes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1-penzkifizetes col2-penzkifizetes col3-penzkifizetes";
  text-align: center;
}

.col1-penzkifizetes {
  grid-area: col1-penzkifizetes;
  flex-direction: column;
}

.col2-penzkifizetes {
  grid-area: col2-penzkifizetes;
  flex-direction: column;
}

.col3-penzkifizetes {
  grid-area: col3-penzkifizetes;
  flex-direction: column;
}*/

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1 col2 col3";
  text-align: center;
}

.col1 {
  grid-area: col1;
  flex-direction: column;
}

.col2 {
  grid-area: col2;
  flex-direction: column;
}

.col3 {
  grid-area: col3;
  flex-direction: column;
}

.grid-container-szorzok {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "col1-szorzok col2-szorzok col3-szorzok";

}

.col1-szorzok {
  grid-area: col1-szorzok;
  flex-direction: column;
}

.col2-szorzok {
  grid-area: col2-szorzok;
  flex-direction: column;
}

.col3-szorzok {
  grid-area: col3-szorzok;
  flex-direction: column;
}

/*#endregion grid*/

/*#region Header*/
.navbutton{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
color: white;
  background-color: #24c6dc;
  border-radius: 5px;
}
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #16222a;
  font-family: 'Kanit', sans-serif;
}

header h1 {
  font-size: 24px;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  font-size: 18px;
}

header .login {
  display: flex;
  align-items: center;
}

header .login a {
  margin-right: 10px;
}

header .login button {
  font-weight: bold;
}

/*#endregion Header*/

/*#region foldal.php */


.kozos {
  display: inline-flex;
  margin: 2% 2% 3% 2%;
  width: 95vw;
  min-height: 100vh;

  /*overflow: hidden;*/
  /* overflow: scroll;*/
}

.meccsek {
  width: 100%;
  border-radius: 13px;
  margin-right: 2%;

  background: linear-gradient(360deg, #16222a, #24c6dc);


}

.meccsek2 {
  width: 50%;
  border-radius: 13px;
  text-align: center;
 
  background: linear-gradient(360deg, #16222a, #24c6dc);


}

.cim {
  text-align: center;
}

.hazaitable {
  width: 33%;
  text-align: center;
}

.eredmenyektable {
  width: 33%;
  text-align: center;
}

.vendegtable {
  width: 33%;
  text-align: center;
}

/*#endregion foldal.php*/

/*#region Footer*/
footer {
  background-color: #16222a;
  color: #ccc;
  padding: 20px;
  text-align: center;
 

}

/*#endregion Footer*/

/*#region fogad*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  color: black;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Bet box styles */
.bet-box {
  background-color:#24c7dc96 ;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 10px 15px #0b1858;
}

.bet-box:hover {
  background-color: #24c7dc00;
}

/*#endregion fogad*/

/*#region register*/
.register-bodycard {
 display: flex;
 justify-content: center;
 height: 80vh;
 align-items: center;
border: 1px solid whitesmoke;
width: 30vw;
margin: 0 auto 0 auto;
}
#input{
  width: 300px;
 border: 1px solid white;
  padding: 15px;
  border-radius: 3px;
  margin: 0 0 2% 0;
  background-color: #332d2d;
  color: white;
}
#input_button{
  background-color: #332d2d;
  color: white;
  padding: 15px;
  border-radius: 3px;
  text-align: center; 
  width: 17vw;
  margin: 0 auto 0 auto;
}
/*#endregion register*/